<div fxLayout="column" class="py-5" fxLayoutAlign="center center">
    <mat-card>
        <mat-card-title>Connexion</mat-card-title>
        <mat-card-content>
            <form [formGroup]="signinForm" novalidate fxLayout="column" fxLayoutGap="15px" fxLayoutAlign="center center">
                <mat-form-field>
                    <input formControlName="email" matInput type="email" placeholder="Email">
                </mat-form-field>
                <div *ngIf="errorsForm.email" class="alert alert-danger">
                    {{ errorsForm.email}}
                </div>
                <mat-form-field>
                    <input formControlName="password" matInput type="password" placeholder="Mot de passe">
                </mat-form-field>
                <div *ngIf="errorsForm.password" class="alert alert-danger mw-100">
                    {{ errorsForm.password}}
                </div>
                <div class="alert alert-danger" *ngIf="signinError$ | async; let error">{{ error }}</div>
                <button mat-raised-button color="primary" (click)="submit()">Connexion</button>
            </form>

        </mat-card-content>
    </mat-card>
</div>